alembic==1.7.7
anyio==3.5.0
apispec==3.3.2
appnope==0.1.2
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==20.3.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
blinker==1.4
blis==0.7.6
Brotli==1.0.9
cachelib==0.6.0
catalogue==2.0.6
cattrs==1.10.0
certifi==2020.12.5
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
clickclick==20.10.2
colorama==0.4.4
colorlog==4.8.0
commonmark==0.9.1
connexion==2.13.0
cron-descriptor==1.2.24
croniter==1.3.4
cryptography==36.0.2
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.6
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.1.1
dnspython==2.2.1
docutils==0.18.1
email-validator==1.2.0
emoji==1.7.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.2
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.6.0
Flask==1.1.2
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-Compress==1.12
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fonttools==4.29.1
gensim==4.1.2
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
importlib-metadata==4.11.3
inflection==0.5.1
interchange==2021.0.4
ipykernel==6.9.0
ipython==8.0.1
ipython-cypher==0.2.6
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==1.1.0
jedi==0.18.1
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
lockfile==0.12.2
lxml==4.7.1
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
monotonic==1.6
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
neo4j-driver==4.4.3
neo4jrestclient==2.1.1
nest-asyncio==1.5.4
newspaper3k==0.2.8
nltk==3.7
notebook==6.4.8
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
pansi==2020.7.3
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipdeptree==2.2.1
platformdirs==2.5.0
plotly==5.7.0
pluggy==1.0.0
preshed==3.0.6
prettytable==3.2.0
prison==0.2.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py2neo==2021.2.3
pycparser==2.21
pydantic==1.8.2
Pygments==2.12.0
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.18.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==6.1.1
python3-openid==3.2.0
pytz==2022.1
pytzdata==2020.1
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
regex==2022.3.15
requests==2.27.1
requests-file==1.5.1
rfc3986==1.5.0
rich==12.3.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
setproctitle==1.2.3
sgmllib3k==1.0.0
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
srsly==2.4.2
stack-data==0.2.0
stanza==1.3.0
style==1.1.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
thinc==8.0.15
threadpoolctl==3.1.0
tinysegmenter==0.3
tldextract==3.2.0
tomli==2.0.1
torch==1.11.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.2.0
unicodecsv==0.14.1
update==0.0.1
urllib3==1.26.9
wasabi==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wordcloud==1.8.1
wrapt==1.14.0
WTForms==2.3.3
xlrd==2.0.1
zipp==3.8.0
